<!DOCTYPE html>
<html>
    <head>
        <title>Flight Tracker</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
	
<div class="container">
	
	<div class="row">
		<h1 style="text-align: center">Input a Flight Information</h1>

		<div style="width: 30%; margin: 25px auto">
			<form action="/flights" method="POST" name="flight">
				
				
				<div class="form-group">
					<input class="form-control" type="text" name="flight" placeholder="flight number">
				</div>
			
				<div class="form-group">
					<input class="form-control" type="text" name="latitude" placeholder="Latitude">
				</div>
				
				<div class="form-group">
					<input class="form-control" type="text" name="longtitude" placeholder="Longtitude">
				</div>
				
				<div class="form-group">
					<input class="form-control" type="text" name="altitude" placeholder="Altitude">
				</div>
				
				<div class="form-group">
					<input class="form-control" type="text" name="speed" placeholder="Speed">
				</div>
				
				<div class="form-group">
					<input class="form-control" type="text" name="date2" placeholder="Date">
				</div>
				
				<div class="form-group">
					<input class="form-control" type="text" name="time2" placeholder="Time">
				</div>
				
				<div class="form-group">
					<button class="btn btn-lg btn-primary btn-block">Submit!</button>
				</div>
			</form>
			
			<a href="/flights/input">Go Back</a>
		</div>
		
	</div>
	
</div>
	
		
	
</html>