<h1>Landing Page</h1>

<a href="/flights/input">Input Flights</a>

<a href="/flights">Show All Flights</a>

<form class="delete-form" action="/flights?_method=DELETE" method="POST">
		<button class="btn btn-danger" id="delete">Delete All Flights</button>	
</form>