<!DOCTYPE html>
<html>
    <head>
        <title>Send a Request To Base Station</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
	
<div class="container">
	
	<div class="row">
		<h1 style="text-align: center">Send a Request</h1>

		<div style="width: 30%; margin: 25px auto">
			<form action="/request" method="POST" name="request">
				
				<div class="form-group">
					<input class="form-control" type="text" name="request" placeholder="Request">
				</div>
				
				<div class="form-group">
					<button class="btn btn-lg btn-primary btn-block">Send!</button>
				</div>
			</form>
			
			<a href="/flights/input">Input Flight</a>
		</div>
		
	</div>
	
	<form class="delete-form" action="/request?_method=DELETE" method="POST">
		<button class="btn btn-danger" id="r_delete">Delete Request</button>	
	</form>
	
</div>
	
		
	
</html>