<!DOCTYPE html>
<html>
    <head>
        <title>Flight Tracker</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
	
	
<div class="container">
	
	<div class="row text-center" style="display: flex; flex-wrap: wrap;">
		<div class="col-lg-12"><h1>All Detected Flights</h1></div>
		<% flights.forEach(function(flight) { %>
			<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
					
					<div class="caption">
						<h4><%= flight.flightNumber%></h4>
					</div>
					
					<p>Latitude: <%= flight.latitude%></p>
					<p>Longtitude: <%= flight.longtitude%></p>
					<p>Altitude: <%= flight.altitude%></p>
					<p>Speed: <%= flight.speed%></p>
					
				</div>
			</div>
		<% }); %>
		
	</div>
</div>
	
</html>